body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}

.name-color{
    color: orange;
}

.half-area{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-area img{
    width: 100%;
}